<div class="organization-form-page container-fluid bg-white p-0 m-0">
  @if (loading || saving) {
    <theme-loading></theme-loading>
  }

  <div class="row p-0 m-0 header-row">
    <div class="col d-flex align-items-center">
      <h1 class="page-title m-0">
        {{ (isNew ? 'ORGANIZATIONS.FORM.TITLE_NEW' : 'ORGANIZATIONS.FORM.TITLE_EDIT') | translate }}
      </h1>
    </div>

    <div class="col-auto d-flex justify-content-end align-items-center gap-2">
      <cl-button [text]="'BACK' | translate" [theme]="'secondary'" (clicked)="onBack()"></cl-button>
      <cl-button [text]="'SAVE' | translate" [theme]="'primary'" [disabled]="organizationForm.invalid || loading || saving" (clicked)="onSave()"></cl-button>
    </div>
  </div>

  <cl-tabs [tabsData]="tabsData" [defaultTab]="0" (tabSelected)="onTabSelected($event)"></cl-tabs>

  <ng-template #generalDataTab>
    <div class="tab-content p-3">
      <form [formGroup]="organizationForm" class="general-data-form">
        <div class="row g-3">
          <cl-input class="col-md-3" formControlName="securityCompanyId" [label]="'ORGANIZATIONS.FORM.FIELDS.COMPANY_ID' | translate" [inputType]="'number'"></cl-input>
          <cl-combo-box
            class="col-md-3"
            formControlName="groupId"
            [items]="organizationGroups"
            [textField]="'groupName'"
            [valueField]="'id'"
            [defaultItem]="emptyGroupItem"
            [label]="'ORGANIZATIONS.FORM.FIELDS.GROUP' | translate"
          ></cl-combo-box>
          <cl-input class="col-md-6" formControlName="name" [label]="'ORGANIZATIONS.FORM.FIELDS.NAME' | translate"></cl-input>

          <cl-input class="col-md-3" formControlName="acronym" [label]="'ORGANIZATIONS.FORM.FIELDS.ACRONYM' | translate"></cl-input>
          <cl-input class="col-md-3" formControlName="taxId" [label]="'ORGANIZATIONS.FORM.FIELDS.TAX_ID' | translate"></cl-input>
          <cl-input class="col-md-6" formControlName="contactEmail" [label]="'ORGANIZATIONS.FORM.FIELDS.CONTACT_EMAIL' | translate"></cl-input>

          <cl-input class="col-md-4" formControlName="contactPhone" [label]="'ORGANIZATIONS.FORM.FIELDS.CONTACT_PHONE' | translate"></cl-input>
          <cl-input class="col-md-8" formControlName="address" [label]="'ORGANIZATIONS.FORM.FIELDS.ADDRESS' | translate"></cl-input>

          <cl-input class="col-md-4" formControlName="city" [label]="'ORGANIZATIONS.FORM.FIELDS.CITY' | translate"></cl-input>
          <cl-input class="col-md-4" formControlName="postalCode" [label]="'ORGANIZATIONS.FORM.FIELDS.POSTAL_CODE' | translate"></cl-input>
          <cl-input class="col-md-4" formControlName="country" [label]="'ORGANIZATIONS.FORM.FIELDS.COUNTRY' | translate"></cl-input>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #modulesTab>
    <div class="tab-content p-3">
      <div class="placeholder-box">
        {{ 'ORGANIZATIONS.FORM.PLACEHOLDERS.MODULES' | translate }}
      </div>
    </div>
  </ng-template>

  <ng-template #auditTab>
    <div class="tab-content p-3">
      <div class="placeholder-box">
        {{ 'ORGANIZATIONS.FORM.PLACEHOLDERS.AUDIT' | translate }}
      </div>
    </div>
  </ng-template>
</div>
