<div class="organization-form-page container-fluid bg-white p-0 m-0">
  @if (loading || saving) {
    <theme-loading></theme-loading>
  }

  <div class="row p-0 m-0 header-row">
    <div class="col d-flex align-items-center">
      <h1 class="page-title m-0">
        {{ (isNew ? 'ORGANIZATIONS.FORM.TITLE_NEW' : 'ORGANIZATIONS.FORM.TITLE_EDIT') | translate }}
      </h1>
    </div>

    <div class="col-auto d-flex justify-content-end align-items-center gap-2">
      <cl-button [text]="'BACK' | translate" [theme]="'secondary'" (clicked)="onBack()"></cl-button>
      <cl-button [text]="'SAVE' | translate" [theme]="'primary'" [disabled]="organizationForm.invalid || loading || saving" (clicked)="onSave()"></cl-button>
    </div>
  </div>

  <cl-tabs [tabsData]="tabsData" [defaultTab]="0" (tabSelected)="onTabSelected($event)"></cl-tabs>

  <ng-template #generalDataTab>
    <div class="tab-content p-3">
      <form [formGroup]="organizationForm" class="general-data-form">
        <section class="data-section">
          <h3 class="section-title">
            <mat-icon class="section-title-icon" aria-hidden="true">info</mat-icon>
            {{ 'ORGANIZATIONS.FORM.SECTIONS.BASIC' | translate }}
          </h3>
          <div class="basic-fields-row">
            <cl-input class="field-company-id" formControlName="securityCompanyId" [label]="'Id Empresa'" [inputType]="'number'"></cl-input>
            <cl-input class="field-name" formControlName="name" [label]="'ORGANIZATIONS.FORM.FIELDS.NAME' | translate"></cl-input>
            <cl-input class="field-acronym" formControlName="acronym" [label]="'ORGANIZATIONS.FORM.FIELDS.ACRONYM' | translate"></cl-input>
            <cl-input class="field-tax-id" formControlName="taxId" [label]="'ORGANIZATIONS.FORM.FIELDS.TAX_ID' | translate"></cl-input>
            <cl-combo-box
              class="field-group"
              formControlName="groupId"
              [items]="organizationGroups"
              [textField]="'groupName'"
              [valueField]="'id'"
              [defaultItem]="emptyGroupItem"
              [label]="'ORGANIZATIONS.FORM.FIELDS.GROUP' | translate"
            ></cl-combo-box>
          </div>
        </section>

        <section class="data-section">
          <h3 class="section-title">
            <mat-icon class="section-title-icon" aria-hidden="true">location_on</mat-icon>
            {{ 'ORGANIZATIONS.FORM.SECTIONS.LOCATION' | translate }}
          </h3>
          <div class="row g-3">
            <cl-input class="col-md-6" formControlName="address" [label]="'ORGANIZATIONS.FORM.FIELDS.ADDRESS' | translate"></cl-input>
            <cl-input class="col-md-2" formControlName="city" [label]="'ORGANIZATIONS.FORM.FIELDS.CITY' | translate"></cl-input>
            <cl-input class="col-md-2" formControlName="postalCode" [label]="'ORGANIZATIONS.FORM.FIELDS.POSTAL_CODE' | translate"></cl-input>
            <cl-input class="col-md-2" formControlName="country" [label]="'ORGANIZATIONS.FORM.FIELDS.COUNTRY' | translate"></cl-input>
          </div>
        </section>

        <section class="data-section">
          <h3 class="section-title">
            <mat-icon class="section-title-icon" aria-hidden="true">phone</mat-icon>
            {{ 'ORGANIZATIONS.FORM.SECTIONS.CONTACT' | translate }}
          </h3>
          <div class="row g-3">
            <cl-input class="col-md-6" formControlName="contactEmail" [label]="'ORGANIZATIONS.FORM.FIELDS.CONTACT_EMAIL' | translate"></cl-input>
            <cl-input class="col-md-6" formControlName="contactPhone" [label]="'ORGANIZATIONS.FORM.FIELDS.CONTACT_PHONE' | translate"></cl-input>
          </div>
        </section>
      </form>
    </div>
  </ng-template>

  <ng-template #modulesTab>
    <div class="tab-content p-3">
      @if (isNew || organizationId <= 0) {
        <div class="placeholder-box">
          {{ 'ORGANIZATIONS.FORM.PLACEHOLDERS.SAVE_FIRST_FOR_MODULES' | translate }}
        </div>
      } @else if (!organizationLoaded) {
        <div class="placeholder-box">
          {{ 'LOADING' | translate }}
        </div>
      } @else {
        <app-organization-modules
          [organizationId]="organizationId"
          [preloadedOrganization]="organizationLoaded"
          (organizationModulesChanged)="onOrganizationModulesChanged($event)"
        ></app-organization-modules>
      }
    </div>
  </ng-template>

  <ng-template #auditTab>
    <div class="tab-content p-3">
      <div class="placeholder-box">
        {{ 'ORGANIZATIONS.FORM.PLACEHOLDERS.AUDIT' | translate }}
      </div>
    </div>
  </ng-template>
</div>
