services:
  helix6-postgres: 
    container_name: helix6-postgres
    image: "postgres:15.2" 
    restart: always
    command: postgres -c 'max_connections=1000' -c 'shared_buffers'=256MB
    env_file: 
      - ./database.dev.env 
    networks: 
      - helix6_network 
    volumes: 
      - ./db-data:/var/lib/postgresql/data/ 
    ports: 
      - "8090:5432" 
  helix6-keycloak: 
    container_name: helix6-keycloak
    image: "quay.io/keycloak/keycloak:16.1.1" 
    restart: always
    depends_on: 
      - "helix6-postgres" 
    env_file: 
      - ./keycloak.dev.env 
    ports: 
      - "8091:8080" 
    networks: 
      - helix6_network 
networks: 
  helix6_network: 
    name: helix6_network