@use 'sass:color';
/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($primary, white, 75%)] - Scrollbar's color
/// @example scss - Scrollbar styling
/// @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: color.mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
    width: $size + 0.2;
    height: $size + 0.2;
  }
  *:hover::-webkit-scrollbar {
    width: $size + 0.2;
    height: $size + 0.2;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  ::-webkit-scrollbar-track {
    background: $background-color;
  }
  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
