//
// Theming
// --------------------------------------------------
//
// Left sidebar
// --------------------------------------------------
$sidebar-menu-size-opened: 290px !default;
$sidebar-menu-size-closed: 56px !default;
//
// Kendo:
// --------------------------------------------------