@use 'sass:map';
@use '@angular/material' as mat;

@mixin topbar-theme($theme) {
  // Get the color config from the theme.
  $color-config: mat.m2-get-color-config($theme);

  // Get the primary color pallete from the color-config
  $primary-pallete: map.get($color-config, 'primary');
  $accent-pallete: map.get($color-config, 'accent');
  $warn-pallete: map.get($color-config, 'warn');

  $is-dark-theme: map.get($color-config, 'is-dark');

  // Get the typography config from the theme.
  $typography-config: mat.m2-get-typography-config($theme);
  $my-font-family: mat.m2-font-family($typography-config);

  theme-topbar {
    display: block;

    mat-toolbar {
      &.topbar {
        overflow-x: hidden;
        overflow-y: hidden;

        span {
          text-align: right;
          color: if($is-dark-theme, white, mat.m2-get-color-from-palette($accent-pallete, 'A200-contrast'));
          &.badge {
            margin-left: 1em;
            margin-top: 0.1em;
            padding-bottom: 2px;
            padding-left: 10px;
            padding-right: 10px;
            color: white;
          }
        }

        &.mat-toolbar {
          background-color: mat.m2-get-color-from-palette($accent-pallete, A200);
          color: if($is-dark-theme, white, mat.m2-get-color-from-palette($accent-pallete, 'A200-contrast'));
        }

        &.mat-toolbar-single-row {
          height: 46px;
        }
        a {
          color: mat.m2-get-color-from-palette($accent-pallete, A400-contrast);
        }

        .highlight-node {
          color: mat.m2-get-color-from-palette($accent-pallete, A200);
        }
      }
    }
  }

  .mat-mdc-menu-panel {
    max-width: 350px;
  }

  .mat-mdc-menu-content {
    width: 275px;

    .mat-mdc-menu-item {
      display: flex;
      height: 40px;
      align-items: center;

      .menu-item-icon {
        margin: 0px;
      }

      .beta-label {
        margin-left: 8px;
        padding: 2px 8px;
        font-size: 0.75rem;
        font-weight: 500;
        background-color: mat.m2-get-color-from-palette($accent-pallete, 500);
        color: mat.m2-get-color-from-palette($accent-pallete, '500-contrast');
        border-radius: 12px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }
    }
  }

  .text-grey {
    color: mat.m2-get-color-from-palette($accent-pallete, A700);
  }
}
