@font-face {
  font-family: 'Roboto Medium';
  src: url('../../../../assets/fonts/Roboto/Roboto-Medium-webfont.woff') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../../../assets/fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('../../../../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

$helix-font-family:
  'Roboto',
  'Roboto Medium',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  'Helvetica Neue',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

$helix-font-family-titillium: TitilliumWeb, $helix-font-family;
$helix-font-family-inter: Inter, $helix-font-family;

$kendo-font-size: 14px; //Base font size across all components.
$kendo-font-family-sans-serif: $helix-font-family-inter; // Font family for text.
$kendo-font-family: $helix-font-family-inter; // Font family across all components.
$kendo-font-family-monospace: $helix-font-family-inter; //Font family for monospaced text. Used for styling the code.

// $kendo-line-height: 2; //Line height used along with $kendo-font-size.
// $kendo-border-radius: 4px;
// $enable-gradients: true;

$tb-typography: (
  default-typography: (
    font-family: $helix-font-family-inter,
    font-size: 14px,
    font-weight: 400
  )
);
@mixin typography-classes($typography) {
  @each $selector, $property in $typography {
    &-#{$selector} {
      @each $propName, $propValue in $property {
        #{$propName}: $propValue;
      }
    }
  }
}
